node_modules/
.expo/
.git/
*.log

# Android
android/app/build/
android/app/.cxx/
android/.gradle/
android/build/
**/app 2/
**/build 2/
**/gradle 2/

# iOS
ios/Pods/
ios/build/
ios/DerivedData/

# Build artifacts
*.o
*.so
*.dylib

# Temporary files
*.bak
*~
.DS_Store
